  .subscribe-button {
    background-color: rgb(200, 0, 0);
    color: white;
    border: none;
    border-radius: 2px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 16px;
    padding-right: 16px;
    cursor: pointer;
    margin-right: 8px;
    transition: opacity 0.15s ;
    vertical-align: top;
  }

  .subscribe-button:hover{
    opacity: 0.7;
  }
  .subscribe-button:active{
    opacity: 0.5;
  }

  .join-button {
    background-color: white;
    border-color: rgb(44, 44, 240);
    border-style: solid;
    border-width: 1px;
    color: rgb(44, 44, 240);
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 9px ;
    padding-bottom: 9px;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.15s,
    color 0.15s;
    vertical-align: top;

  }

  .join-button:hover{
    background-color: rgb(44, 44, 240) ;
    color:  white;
  }
  .join-button:active{
    opacity: 0.7;
  }

  .tweet-button{
    background-color: rgb(0, 116, 224);
    color: white;
    border-radius: 19px;
    border-style: none;
    padding-bottom:10px;
    padding-top:10px;
    padding-left: 16px;
    padding-right:16px ; 
    font-weight: bold;
    font-size: 15;
    cursor: pointer;
    margin-left: 8px;
    transition: box-shadow 0.15s;
    vertical-align: top;
   
  }

  .tweet-button:hover{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
  }