 p{
  font-family: Roboto;
  margin-top: 0;
  margin-bottom: 0;
 }
 a{
  color: white;
  font-size: 14px ;
 }
 .video-title{
 font-weight: bold;
 font-size: 18px;
 width: 300px;
 line-height: 24px;
 margin-bottom: 5;
 }
  .video-stats{
   font-size: 14px;
   color: rgb(96, 96, 96);

  }

  .video-uploader{
    color: rgb(96, 96, 96);
    font-size: 14px;
    margin-top: 15px;
    margin-bottom: 115px;
    margin-top: 10px;
  }

  .apple-text{
    font-size: 14px;
    background-color: rgb(227, 65, 64);
    color: white;
    text-align: centre;
    padding-bottom: 15px;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
  }
   .shop-now-link{
    cursor: pointer;
   }
  .shop-now-link:hover{
  text-decoration: underline;

  }
